---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Carrusel from '../components/carrusel.astro';
import Hero from '../components/hero.astro';
import Footer from '../components/footer.astro';
---

<Layout>
	<Header />
	<Hero />
	<Carrusel />
	
	  <!-- Sección Nosotros -->
	  <div id="nosotros" class="container">
		<h2 class="section-title">Sobre Nosotros</h2>
		<p class="text-center">En El Sabor del Alma, fusionamos tradición y creatividad para ofrecer experiencias culinarias memorables.</p>
	  </div>
	
		<div class="text-center mt-4">
		  <a href="carta.html" class="btn btn-danger">Ver la Carta Completa</a>
		</div>
	  </div>
	
	<Footer/>
</Layout>
