---
import FbSvg from '../assets/facebook-svgrepo-com.svg';
import InstaSvg from '../assets/insta-svgrepo-com.svg';
---

<header class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="md:flex md:items-center md:gap-12">
        <a class="block text-teal-600" href="#">
          <span class="sr-only">Home</span>
          <img src="/logo-transparent.png" alt="Logo NUVI" width="100" />
        </a>
      </div>

      <div class="hidden md:block">
        <nav aria-label="Global">
          <ul class="flex items-center gap-6 text-md">
            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75"
                href="#"
              >
                Nosotros
              </a>
            </li>

            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75"
                href="#"
              >
                Menú
              </a>
            </li>

            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75"
                href="#"
              >
                <FbSvg class="w-10 h-10 transition-transform hover:scale-125" />
              </a>
            </li>

            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75"
                href=""
              >
                <InstaSvg class="w-10 h-10 transition-transform hover:scale-115" />
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="flex items-center gap-4">
        <div class="sm:flex sm:gap-4 text-gray-600 transition hover:text-gray-600/75">
          <a target="_blank" href="https://wa.me/56996748717">Reservas</a>
        </div>

        <div class="block md:hidden">
          <button
            class="rounded-sm bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75"
            id="menuBtn"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
        <!-- menú desplegable -->
          <div
        class="hidden absolute end-0 top-13 z-10 mt-0.5 w-56 rounded-md border border-gray-300 bg-white shadow-lg"
        role="menu"
        id="menu"
      >
        <div class="p-2">
          <a
            href="#"
            class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
            role="menuitem"
          >
            Nosotros
          </a>

          <a
            href="#"
            class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-300"
            role="menuitem"
          >
            Reservas
          </a>

          <div class="flex">
            <a
            href="#"
            class="inline rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-300"
            role="menuitem"
          >
            <FbSvg class="w-5 h-5" />
          </a>
          <a
            href="#"
            class=" inline rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-300"
            role="menuitem"
          >
            <InstaSvg class="w-5 h-5" />
          </a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</header>

<script>
  const menuBtn = document.getElementById('menuBtn')
  const menu = document.getElementById('menu')

  menuBtn.addEventListener('click', () => {
    menu.classList.toggle('hidden')
  })
</script>