<section
	class="overflow-hidden bg-[url(../assets/plato_2.jpg)] bg-cover bg-top bg-no-repeat sm:h-[80vh]"
	>
	<div class="bg-black/50 p-8 md:p-12 lg:px-16 lg:py-24 sm:h-[80vh]">
		<div class="mx-auto max-w-6xl sm:text-left">
		<h2 class="text-3xl font-bold text-white sm:text-3xl md:text-5xl lg:text-7xl lg:mb-12">Restaurant </h2>

		<p class="mt-7 mb-7 max-w-lg text-white/90 md:mt-6 md:block md:text-lg lg:text-xl md:leading-relaxed lg:mb-12">
			Enclavado entre la brisa marina y el sonido de las olas, nuestro restaurante te invita a descubrir lo mejor de la cocina costera chilena. Pescados frescos, mariscos del día y recetas con tradición local, todo en un ambiente cálido frente al mar.
		</p>

		<div class="mt-8 sm:mt-8">
			<a
			href="https://wa.me/56996748717"
			class="inline-block rounded-full bg-orange-500 px-10 py-3 text-md font-medium text-white transition hover:bg-orange-600 focus:ring-3 focus:ring-yellow-400 focus:outline-hidden lg:px-13 lg:py-5 lg:text-xl">
			Reserva!
			</a>
		</div>
		</div>
	</div>
	</section>